<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" class="centertext tituloPadding"
      >Currículo</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item expand="block">
        <ion-col size="3" style="padding-left: 0px">
          <ion-icon
            style="font-size: 80px"
            name="person-circle-outline"
            color="dark"
          ></ion-icon>
        </ion-col>
        <ion-col size="9">
          <ion-row>
            <h2 style="margin-bottom: 0">Patrick</h2>
          </ion-row>
          <p style="margin-top: 5px">(18) 98111-5555</p>
        </ion-col>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-accordion-group>
        <ion-accordion value="dadosP">
          <ion-item slot="header" color="light">
            <ion-label>Dados Pessoais</ion-label>
          </ion-item>
          <div slot="content">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-row style="display: flex; justify-content: end">
                    <ion-button>
                      <ion-label style="margin-top: 3px">Editar</ion-label>
                      <ion-icon
                        style="font-size: 20px; margin-left: 7px"
                        name="pencil"
                        color="light"
                      ></ion-icon>
                    </ion-button>
                  </ion-row>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">E-Mail: </span> exemplo@exemplo.com
                      </ion-label>
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">RG: </span> 55.555.55-5</ion-label
                      >
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">CPF: </span>
                        555.555.555-55</ion-label
                      >
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">Nascimento: </span>
                        01/01/1111</ion-label
                      >
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">Gênero: </span> Masculino</ion-label
                      >
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">Estado Civil: </span>
                        Solteiro(a)</ion-label
                      >
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">Senha: </span>
                        ***********</ion-label
                      >
                    </ion-row>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>

        <ion-accordion value="endereco">
          <ion-item slot="header" color="light">
            <ion-label>Endereço</ion-label>
          </ion-item>
          <div slot="content">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-row style="display: flex; justify-content: end">
                    <ion-button>
                      <ion-label style="margin-top: 3px">Editar</ion-label>
                      <ion-icon
                        style="font-size: 20px; margin-left: 7px"
                        name="pencil"
                        color="light"
                      ></ion-icon>
                    </ion-button>
                  </ion-row>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">Cep: </span> 00000-000</ion-label
                      >
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">Endereço: </span> RUA
                        EXEMPLO</ion-label
                      >
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">Número: </span> 1050</ion-label
                      >
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">Bairro: </span> Bairro
                        Exemplo</ion-label
                      >
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">Cidade: </span> Araçatuba
                      </ion-label>
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row>
                      <ion-label
                        ><span class="bold">Estado: </span> São Paulo -
                        SP</ion-label>
                    </ion-row>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>

        <ion-accordion value="contato">
          <ion-item slot="header" color="light">
            <ion-label>Contatos</ion-label>
          </ion-item>
          <div slot="content">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-row style="display: flex; justify-content: end">
                    <ion-button>
                      <ion-label style="margin-top: 3px">Editar</ion-label>
                      <ion-icon
                        style="font-size: 20px; margin-left: 7px"
                        name="pencil"
                        color="light"
                      ></ion-icon>
                    </ion-button>
                  </ion-row>
                  <ion-item style="margin-top: 10px">
                    <ion-label>
                      <h2>CONTATO</h2>
                      <p>exemplo</p>
                    </ion-label>
                    <ion-icon name="trash-outline" color="danger"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>

        <ion-accordion value="formacao">
          <ion-item slot="header" color="light">
            <ion-label>Formações educacionais</ion-label>
          </ion-item>
          <div slot="content">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-row style="display: flex; justify-content: end">
                    <ion-button>
                      <ion-label style="margin-top: 3px">Editar</ion-label>
                      <ion-icon
                        style="font-size: 20px; margin-left: 7px"
                        name="pencil"
                        color="light"
                      ></ion-icon>
                    </ion-button>
                  </ion-row>
                  <ion-item style="margin-top: 10px">
                    <ion-label>
                      <h2>Escola</h2>
                      <p>Detalhes</p>
                    </ion-label>
                    <ion-icon name="trash-outline" color="danger"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>

        <ion-accordion value="exp">
          <ion-item slot="header" color="light">
            <ion-label>Experiências profissionais</ion-label>
          </ion-item>
          <div slot="content">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-row style="display: flex; justify-content: end">
                    <ion-button>
                      <ion-label style="margin-top: 3px">Editar</ion-label>
                      <ion-icon
                        style="font-size: 20px; margin-left: 7px"
                        name="pencil"
                        color="light"
                      ></ion-icon>
                    </ion-button>
                  </ion-row>
                  <ion-item style="margin-top: 10px">
                    <ion-label>
                      <h2>Trabalho</h2>
                      <p>Descrição</p>
                    </ion-label>
                    <ion-icon name="trash-outline" color="danger"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>

        <ion-accordion value="cursos">
          <ion-item slot="header" color="light">
            <ion-label>Cursos</ion-label>
          </ion-item>
          <div slot="content">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-row style="display: flex; justify-content: end">
                    <ion-button>
                      <ion-label style="margin-top: 3px">Editar</ion-label>
                      <ion-icon
                        style="font-size: 20px; margin-left: 7px"
                        name="pencil"
                        color="light"
                      ></ion-icon>
                    </ion-button>
                  </ion-row>
                  <ion-item style="margin-top: 10px">
                    <ion-label>
                      <h2>Excel Avançado</h2>
                      <p>Completo</p>
                    </ion-label>
                    <ion-icon name="trash-outline" color="danger"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>

        <ion-accordion value="idiomas">
          <ion-item slot="header" color="light">
            <ion-label>Idiomas</ion-label>
          </ion-item>
          <div slot="content">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-row style="display: flex; justify-content: end">
                    <ion-button>
                      <ion-label style="margin-top: 3px">Editar</ion-label>
                      <ion-icon
                        style="font-size: 20px; margin-left: 7px"
                        name="pencil"
                        color="light"
                      ></ion-icon>
                    </ion-button>
                  </ion-row>
                  <ion-item style="margin-top: 10px">
                    <ion-label>
                      <h2>Idioma</h2>
                      <p>Avançado</p>
                    </ion-label>
                    <ion-icon name="trash-outline" color="danger"></ion-icon>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
</ion-content>
