<ion-header>
  <ion-toolbar>
    <ion-title>cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-row>
      <ion-col>
        <h4>Cadastro de Currículo</h4>
        <h4>Cursos</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Curso</ion-label>
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="curso">
          </ion-input>
         
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Instituição de Ensino</ion-label>
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="instEnsino">
          </ion-input>
          
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="roundedInput" line="none">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Data de início</ion-label>
          <ion-input type="date" class="ion-margin-horizontal" [(ngModel)]="dtInicio">
          </ion-input>
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-item>
      
        <ion-col class="ion-margin-horizontal"></ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Data de conclusão</ion-label>
          <ion-input type="date" class="ion-margin-horizontal" [(ngModel)]="dtConclusao">
          </ion-input>
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="primary" shape="block">
          ADICIONAR CURSO
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>