<ion-header>
  <ion-toolbar color="primary">
    <ion-title>cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-row>
      <ion-col>
        <h4 style="text-align: center;">Cadastro de Currículo</h4>
        <h4 style="text-align: center;">Cursos</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="espamanto">        
          <ion-label position="floating">Curso</ion-label>
          <ion-item class="roundedInput" line="none">
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="curso.nome">
          </ion-input>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="espacamanto">        
          <ion-label position="floating">Instituição de Ensino</ion-label>
          <ion-item class="roundedInput" lines="none">
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="curso.instituicaoEnsino">
          </ion-input>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="espacamento">        
          <ion-label position="floating">Data de início</ion-label>
          <ion-item class="roundedInput" line="none">
          <ion-input type="date" class="ion-margin-horizontal" [(ngModel)]="curso.dataInicio">
          </ion-input>
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col class="espacamento">        
          <ion-label position="floating">Data de conclusão</ion-label>
          <ion-item class="roundedInput" line="none">
          <ion-input type="date" class="ion-margin-horizontal" [(ngModel)]="curso.dataConclusao">
          </ion-input>
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="espacamento">
        <ion-button color="primary" shape="block" (click)="adicionarCurso(curso)">
          ADICIONAR CURSO
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>