<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centertext">Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-row>
      <ion-col>        
        <ion-item class="roundedInput" line="none">
            <ion-label position="floating">Curso</ion-label>
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="curso.nome">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>        
        <ion-item class="roundedInput" lines="none">
            <ion-label position="floating">Instituição de Ensino</ion-label>
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="curso.instituicaoEnsino">
          </ion-input>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Data de início<span style="color: red;">*</span></ion-label>
          <ion-input value="{{ date | date:'dd/MM/yyy'}}"
          id="date"
          class="ion-text-start">
          </ion-input>
          <ion-icon name="calendar-outline" slot="end" class="iconPad"></ion-icon>
          <ion-popover trigger="date" size="cover">
            <ng-template>
              <ion-datetime presentation="date"
              [(ngModel)]="curso.dataInicio"
              locale="pt-Br">
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Data de conclusão<span style="color: red;">*</span></ion-label>
          <ion-input value="{{ date | date:'dd/MM/yyy'}}"
          id="date2"
          class="ion-text-start">
          </ion-input>
          <ion-icon name="calendar-outline" slot="end" class="iconPad"></ion-icon>
          <ion-popover trigger="date2" size="cover">
            <ng-template>
              <ion-datetime presentation="date2"
              [(ngModel)]="curso.dataConclusao"
              locale="pt-Br">
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="primary" shape="block" (click)="adicionarCurso(curso)">
          ADICIONAR CURSO
        </ion-button>
      </ion-col>
    </ion-row>
    
</ion-content>