<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Formação Educacional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col>
        <ion-item lines="none">

          <ion-icon name="chevron-back-outline"></ion-icon>
          <h3 style="text-align: center;">
            Voltar e Pesquisar nova vaga
          </h3>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col>
        <h4 style="text-align: center;">
          Cadastro de currículo
        </h4>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col>
        <ion-item style="" lines="none">
          <h4>
            FORMAÇÃO EDUCACIONAL
          </h4>
          <ion-icon name="school-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nome da instituição de ensino</ion-label>
          <ion-input type="text" class="ion-margin-horizontal">
          </ion-input>
          <ion-icon name="person-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Data de inicío</ion-label>
          <ion-input type="text" class="ion-margin-horizontal">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Data de término</ion-label>
          <ion-input type="text" class="ion-margin-horizontal">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row>
      <ion-col>
        <ion-button>
          Adicionar formação
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row>
      <ion-col>
        <ion-button>
          Próximo
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>