<ion-header>
  <ion-toolbar>
    <ion-title>revisao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-header mode="md">
  <ion-toolbar color="primary">
    <ion-title slot="start"><h2>Revisão</h2></ion-title>
    <ion-button fill="outline" size="small" color="light" (click)="conclusao()" slot="end" style="padding-right: 15px;">
      <p>Concluir</p>
    </ion-button>  
    
  </ion-toolbar>
</ion-header>

<ion-content>


  <div *ngIf="empregado === true">
    <ion-row>
      <ion-col>
        <ion-card class="cardVagas">
         <ion-card-header><h2>Dados Pessoais</h2></ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">E-Mail:</span>
                  {{perfil.email}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">RG:</span>
                  {{perfil.rg}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">CPF:</span>
                  {{perfil.cpf}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">Nascimento:</span>
                  {{perfil.dataNasc}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">Estado Civil:</span>
                  {{perfil.genero}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">Estado Civil:</span>
                  {{perfil.estadoCivil}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">Senha:</span>
                  *******</ion-label
                >
              </ion-row>
            </ion-item>
            <ion-row>
              
              <ion-col size="6" style="text-align: end">
                <ion-button (click)="user()" size="small" fill="outline">
                  <ion-icon name="analytics" color="primary"></ion-icon>
                  <ion-label style="margin-top: 0px; margin-left: 6px"
                    >Editar</ion-label
                  >
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
  
        <ion-card class="cardVagas">
          <ion-card-header><h2>Endereço</h2></ion-card-header>
           <ion-card-content>
             <ion-item>
               <ion-row>
                 <ion-label
                   ><span class="bold">CEP:</span>
                   {{perfil.cep}}</ion-label
                 >
               </ion-row>
             </ion-item>
   
             <ion-item>
               <ion-row>
                 <ion-label
                   ><span class="bold">Endereço:</span>
                   {{perfil.endereco}}</ion-label
                 >
               </ion-row>
             </ion-item>
   
             <ion-item>
               <ion-row>
                 <ion-label
                   ><span class="bold">Número:</span>
                   {{perfil.numero}}</ion-label
                 >
               </ion-row>
             </ion-item>
   
             <ion-item>
               <ion-row>
                 <ion-label
                   ><span class="bold">Bairro:</span>
                   {{perfil.bairro}}</ion-label
                 >
               </ion-row>
             </ion-item>
   
             <ion-item>
               <ion-row>
                 <ion-label
                   ><span class="bold">Cidade:</span>
                   {{perfil.cidade}} - {{perfil.estado}}</ion-label
                 >
               </ion-row>
             </ion-item>
  
             <ion-row>
               
               <ion-col size="6" style="text-align: end">
                 <ion-button (click)="endereco()" size="small" fill="outline">
                   <ion-icon name="analytics" color="primary"></ion-icon>
                   <ion-label style="margin-top: 0px; margin-left: 6px"
                     >Editar</ion-label
                   >
                 </ion-button>
               </ion-col>
             </ion-row>
           </ion-card-content>
         </ion-card>
  
         <ion-card class="cardVagas">
          <ion-card-header><h2>Contatos</h2></ion-card-header>
           <ion-card-content>
            <div *ngFor="let contact of perfil.contatos">
              <ion-item style="margin-top: 10px">
                <ion-label>
                  <h2>{{contact.contato}}</h2>
                  <p>{{contact.tipo}}</p>
                </ion-label>
              </ion-item>
            </div>
             <ion-row>
               
               <ion-col size="6" style="text-align: end">
                 <ion-button (click)="contato()" size="small" fill="outline">
                   <ion-icon name="analytics" color="primary"></ion-icon>
                   <ion-label style="margin-top: 0px; margin-left: 6px"
                     >Editar</ion-label
                   >
                 </ion-button>
               </ion-col>
             </ion-row>
           </ion-card-content>
         </ion-card>   
         
         <ion-card class="cardVagas">
          <ion-card-header><h2>Formação Educacional</h2></ion-card-header>
           <ion-card-content>
            <div *ngFor="let forms of perfil.formacaoEduca">
              <ion-item>
                <ion-label>
                  <h2>{{forms.instituicao}}</h2>
                  <h2>{{forms.curso}}</h2>
  
                  <p *ngIf="forms.situacao === 'Concluído'">
                    {{forms.nivel}} -
                    <span
                      style="color: #00bd2f; text-decoration: underline"
                      >{{forms.situacao}}</span
                    >
                  </p>
  
                  <p *ngIf="forms.situacao === 'Em andamento'">
                    {{forms.nivel}} -
                    <span
                      style="color: #ffc409; text-decoration: underline"
                      >{{forms.situacao}}</span
                    >
                  </p>
  
                  <p *ngIf="forms.situacao === 'Incompleto'">
                    {{forms.nivel}} -
                    <span
                      style="color: #eb445a; text-decoration: underline"
                      >{{forms.situacao}}</span
                    >
                  </p>
                </ion-label>
  
              </ion-item>
            </div>
  
  
  
             <ion-row>
               <ion-col size="6" style="text-align: end">
                 <ion-button (click)="formacaoEdu()" size="small" fill="outline">
                   <ion-icon name="analytics" color="primary"></ion-icon>
                   <ion-label style="margin-top: 0px; margin-left: 6px"
                     >Editar</ion-label
                   >
                 </ion-button>
               </ion-col>
             </ion-row>
           </ion-card-content>
         </ion-card>  
  
         <ion-card class="cardVagas">
          <ion-card-header><h2>Experiência Profissional</h2></ion-card-header>
           <ion-card-content>
            
            <div *ngFor="let exp of perfil.expProf">
              <ion-item style="margin-top: 10px">
                <ion-label>
                  <h2>{{exp.empresa}} - {{exp.cargo}}</h2>
                  <h3 *ngIf="exp.atual">
                    {{exp.dtInicio | date:'dd/MM/yyyy'}} - {{exp.dtFinal}}
                  </h3>
                  <h3 *ngIf="!exp.atual">
                    {{exp.dtInicio | date:'dd/MM/yyyy'}} - {{exp.dtFinal |
                    date:'dd/MM/yyyy'}}
                  </h3>
                  <p>{{exp.descricao}}</p>
                </ion-label>            
              </ion-item>
            </div>
  
  
             <ion-row>
               <ion-col size="6" style="text-align: end">
                 <ion-button (onclick)="expProfissional()" size="small" fill="outline">
                   <ion-icon name="analytics" color="primary"></ion-icon>
                   <ion-label style="margin-top: 0px; margin-left: 6px"
                     >Editar</ion-label
                   >
                 </ion-button>
               </ion-col>
             </ion-row>
           </ion-card-content>
         </ion-card> 
  
         <ion-card class="cardVagas">
          <ion-card-header><h2>Cursos</h2></ion-card-header>
           <ion-card-content>
            
            <div *ngFor="let curso of perfil.cursos">
              <ion-item style="margin-top: 10px">
                <ion-label>
                  <h2>{{curso.nome}}</h2>
                  <p>{{curso.instituicao}}</p>
                </ion-label>
              </ion-item>
            </div>
  
  
  
             <ion-row>
               <ion-col size="6" style="text-align: end">
                 <ion-button (onclick)="cursos()" size="small" fill="outline">
                   <ion-icon name="analytics" color="primary"></ion-icon>
                   <ion-label style="margin-top: 0px; margin-left: 6px"
                     >Editar</ion-label
                   >
                 </ion-button>
               </ion-col>
             </ion-row>
           </ion-card-content>
         </ion-card> 
  
         <ion-card class="cardVagas">
          <ion-card-header><h2>Idiomas</h2></ion-card-header>
           <ion-card-content>
            
            <div *ngFor="let idioma of perfil.idiomas">
              <ion-item style="margin-top: 10px">
                <ion-label>
                  <h2>{{idioma.idioma}}</h2>
                  <p *ngIf="idioma.nivel === 'iniciante'">Iniciante</p>
                  <p *ngIf="idioma.nivel === 'basico'">Interemediário</p>
                  <p *ngIf="idioma.nivel === 'avancado'">Avançado</p>
                  <p *ngIf="idioma.nivel === 'fluente'">Fluente</p>
                </ion-label>
              </ion-item>
            </div>
  
  
             <ion-row>
               <ion-col size="6" style="text-align: end">
                 <ion-button (onclick)="idiomas()" size="small" fill="outline">
                   <ion-icon name="analytics" color="primary"></ion-icon>
                   <ion-label style="margin-top: 0px; margin-left: 6px"
                     >Editar</ion-label
                   >
                 </ion-button>
               </ion-col>
             </ion-row>
           </ion-card-content>
         </ion-card> 
  
      </ion-col>
    </ion-row>
  </div>
  
  <div *ngIf="empresario === true">
    <ion-row>
      <ion-col>
        <ion-card class="cardVagas">
         <ion-card-header><h2>Dados Pessoais</h2></ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">Nome Fantasia:</span>
                  {{empresa.fantasia}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">E-mail:</span>
                  {{empresa.email}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">CNPJ:</span>
                  {{empresa.cnpj}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">Data de abertura:</span>
                  {{empresa.dataAb}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">CNAE:</span>
                  {{empresa.cnae}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">situacao:</span>
                  {{empresa.situacao}}</ion-label
                >
              </ion-row>
            </ion-item>
  
            <ion-item>
              <ion-row>
                <ion-label
                  ><span class="bold">Natureza Jurídica:</span>
                  {{empresa.ramo}}</ion-label
                >
              </ion-row>
            </ion-item>
            <ion-row>
              
              <ion-col size="6" style="text-align: end">
                <ion-button (click)="user()" size="small" fill="outline">
                  <ion-icon name="analytics" color="primary"></ion-icon>
                  <ion-label style="margin-top: 0px; margin-left: 6px"
                    >Editar</ion-label
                  >
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
  
        <ion-card class="cardVagas">
          <ion-card-header><h2>Endereço</h2></ion-card-header>
           <ion-card-content>
             <ion-item>
               <ion-row>
                 <ion-label
                   ><span class="bold">CEP:</span>
                   {{empresa.cep}}</ion-label
                 >
               </ion-row>
             </ion-item>
   
             <ion-item>
               <ion-row>
                 <ion-label
                   ><span class="bold">Endereço:</span>
                   {{empresa.endereco}}</ion-label
                 >
               </ion-row>
             </ion-item>
   
             <ion-item>
               <ion-row>
                 <ion-label
                   ><span class="bold">Número:</span>
                   {{empresa.numero}}</ion-label
                 >
               </ion-row>
             </ion-item>
   
             <ion-item>
               <ion-row>
                 <ion-label
                   ><span class="bold">Bairro:</span>
                   {{empresa.bairro}}</ion-label
                 >
               </ion-row>
             </ion-item>
   
             <ion-item>
               <ion-row>
                 <ion-label
                   ><span class="bold">Cidade:</span>
                   {{perfil.cidade}} - {{perfil.estado}}</ion-label
                 >
               </ion-row>
             </ion-item>
  
             <ion-row>
               
               <ion-col size="6" style="text-align: end">
                 <ion-button (click)="endereco()" size="small" fill="outline">
                   <ion-icon name="analytics" color="primary"></ion-icon>
                   <ion-label style="margin-top: 0px; margin-left: 6px"
                     >Editar</ion-label
                   >
                 </ion-button>
               </ion-col>
             </ion-row>
           </ion-card-content>
         </ion-card>
  
         <ion-card class="cardVagas">
          <ion-card-header><h2>Contatos</h2></ion-card-header>
           <ion-card-content>
            <div *ngFor="let contact of empresa.contatos">
              <ion-item style="margin-top: 10px">
                <ion-label>
                  <h2>{{contact.contato}}</h2>
                  <p>{{contact.tipo}}</p>
                </ion-label>
              </ion-item>
            </div>
             <ion-row>
               
               <ion-col size="6" style="text-align: end">
                 <ion-button (click)="contato()" size="small" fill="outline">
                   <ion-icon name="analytics" color="primary"></ion-icon>
                   <ion-label style="margin-top: 0px; margin-left: 6px"
                     >Editar</ion-label
                   >
                 </ion-button>
               </ion-col>
             </ion-row>
           </ion-card-content>
         </ion-card>   
         
         <ion-card class="cardVagas">
          <ion-card-header><h2>Detalhes</h2></ion-card-header>
           <ion-card-content>
            <h2>{{empresa.ramo}}</h2>
            <p>{{empresa.descricaoEmpresa}}</p>
              
  
  
             <ion-row>
               <ion-col size="6" style="text-align: end">
                 <ion-button (click)="formacaoEdu()" size="small" fill="outline">
                   <ion-icon name="analytics" color="primary"></ion-icon>
                   <ion-label style="margin-top: 0px; margin-left: 6px"
                     >Editar</ion-label
                   >
                 </ion-button>
               </ion-col>
             </ion-row>
           </ion-card-content>
         </ion-card>  

  
      </ion-col>
    </ion-row>
  </div>

</ion-content>