<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centertext tituloPadding bold">Recuperação de senha<ion-icon name="home"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">
  <ion-row style="padding-top: 70px;">
      <ion-col>
        <ion-item class="roundedInput" lines="none">
          <ion-label position="floating"></ion-label>
        </ion-item>
      </ion-col>
  </ion-row>
</ion-content>
