<ion-header mode="md">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Nome empresa"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-checkbox color="secondary" checked="true"></ion-checkbox>
        <ion-label class="bold labelChk">Pendentes</ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-label class="bold labelChk">Confirmadas</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <br />
  <div *ngFor="let empresa of empresas">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{empresa.nomeEmpresa}}</ion-card-title>
            <ion-card-subtitle>{{empresa.contato}}</ion-card-subtitle>
            <ion-card-subtitle color="primary" *ngIf="empresa.aceita"
              >Empresa autorizada <img src="../../assets/check.png"
            /></ion-card-subtitle>
            <ion-card-subtitle color="danger" *ngIf="empresa.recusada"
              >Empresa recusada <img src="../../assets/delete.png"
            /></ion-card-subtitle>
            <ion-card-subtitle
              color="warning"
              *ngIf="!empresa.recusada && !empresa.aceita"
              >Empresa pendente <img src="../../assets/pendente.png"
            /></ion-card-subtitle>

            <ion-button
              size="small"
              *ngIf="!empresa.recusada && !empresa.aceita"
              (click)="aceitar(empresa)"
              >Aceitar</ion-button
            >
            <ion-button
              size="small"
              *ngIf="!empresa.recusada && !empresa.aceita"
              color="danger"
              (click)="rejeitar(empresa)"
              >Rejeitar</ion-button
            >
          </ion-card-header>

          <ion-card-content>
            <ion-accordion-group>
              <ion-accordion value="empresa.idAccordion">
                <ion-item slot="header" color="light">
                  <ion-label>Dados de {{empresa.nomeEmpresa}}</ion-label>
                </ion-item>
                <div slot="content">
                  <ion-row>
                    <ion-col>
                      <ion-list>
                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">Nome Fantasia:</span>
                              {{empresa.nomeFantasia}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">CNPJ:</span> {{empresa.cnpj}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">E-Mail:</span>
                              {{empresa.email}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">Data abertura:</span>
                              {{empresa.dtAbertura}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">CNAE:</span> {{empresa.cnae}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold"> Situação:</span>
                              {{empresa.situacao}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">Natureza:</span>
                              {{empresa.natureza}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">CEP:</span> {{empresa.cep}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">Endereço:</span>
                              {{empresa.end}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">Número:</span> {{empresa.nmr}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">Bairro:</span>
                              {{empresa.bairro}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">Cidade:</span>
                              {{empresa.cidade}} - {{empresa.estado}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">Contato 2:</span>
                              {{empresa.contato2}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <ion-item>
                          <ion-row>
                            <ion-label>
                              <span class="bold">Ramo empresarial:</span>
                              {{empresa.ramo}}
                            </ion-label>
                          </ion-row>
                        </ion-item>

                        <br />
                        <ion-row>
                          <ion-label>
                            <h2 class="under" style="font-weight: bold">
                              Descrição completa:
                            </h2>
                            <p>{{empresa.descricao}}</p>
                          </ion-label>
                        </ion-row>
                      </ion-list>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
