<ion-header>
  <ion-toolbar color="primary">
    <ion-title>usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">
  <div>
    <ion-row>
      <ion-col>
        <h4 style="text-align: center;">Cadastro de usuário</h4>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="espacamento">         
          <ion-label position="floating" class="ion-margin-top">Nome</ion-label>
          <ion-item class="roundedInput" line="none">
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="nome">
          </ion-input>
          <ion-icon name="person-outline" slot="end"></ion-icon>
        </ion-item>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="espacamento">        
          <ion-label position="floating" class="ion-margin-top">RG</ion-label>
          <ion-item class="roundedInput" line="none">
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="rg">
          </ion-input>
          <ion-icon name="id-card-outline" slot="end"></ion-icon>
        </ion-item>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="espacamento">        
          <ion-label position="floating">CPF</ion-label>
          <ion-item class="roundedInput" lines="none">
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="cpf">
          </ion-input>
          <ion-icon name="id-card-outline" slot="end"></ion-icon>
        </ion-item>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="espacamento">        
          <ion-label position="floating" class="ion-margin-top">Data de Nascimento</ion-label>
          <ion-item class="roundedInput" line="none">
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="dtNasc">
          </ion-input>
          <ion-icon name="calendar-outline" slot="end"></ion-icon>
        </ion-item>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin-horizontal">        
          <ion-label position="floating" class="ion-margin-top">Gênero</ion-label>
          <ion-item class="roundedInput" line="none">
          <ion-select [(ngModel)]="genero" interface="popover">           
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Feminino">Feminino</ion-select-option>
            <ion-select-option value="Outros">Outros</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin-horizontal">        
          <ion-label position="floating" class="ion-margin-top">Estado Civil</ion-label>
          <ion-item class="roundedInput" line="none">
          <ion-select [(ngModel)]="estadoCivil" interface="popover">
            <ion-select-option value="Solteiro (a)">Solteiro (a)</ion-select-option>
            <ion-select-option value="Casado (a)">Casado (a)</ion-select-option>
            <ion-select-option value="União Estável">União Estável</ion-select-option>
            <ion-select-option value="Divorciado (a)">Divorciado (a)</ion-select-option>
            <ion-select-option value="Viúvo (a)">Viúvo (a)</ion-select-option>           
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-label position="floating" class="ion-margin-top">Ocultas Idade?</ion-label>
        <ion-item class="roundedInput" line="none">          
          <ion-select [(ngModel)]="ocultarIdade" interface="popover">
            <ion-select-option value="Sim">Sim</ion-select-option>
            <ion-select-option value="Não">Não</ion-select-option>  
          </ion-select>
        </ion-item>
      </ion-col>
    
      <ion-col class="ion-margin-horizontal">        
          <ion-label position="floating" class="ion-margin-top">Está Empregado?</ion-label>
          <ion-item class="roundedInput" line="none">
          <ion-select [(ngModel)]="estaEmpregado" interface="popover">
            <ion-select-option value="Sim">Sim</ion-select-option>
            <ion-select-option value="Não">Não</ion-select-option>            
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="espacamento">
        <ion-button shape="block">PRÓXIMO</ion-button>
      </ion-col>
    </ion-row> 
  </div>
</ion-content>
