<ion-header>
  <ion-toolbar>
    <ion-title>usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-row>
      <ion-col>
        <h4>Cadastro de Usuário</h4>        
      </ion-col>
    </ion-row>

  <div>
    <ion-row>
      <ion-col> 
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="nome">
          </ion-input>
          <ion-icon name="person-outline" slot="end"></ion-icon>
        </ion-item>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">RG</ion-label>
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="rg">
          </ion-input>
          <ion-icon name="id-card-outline" slot="end"></ion-icon>
        </ion-item>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">CPF</ion-label>
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="cpf">
          </ion-input>
          <ion-icon name="id-card-outline" slot="end"></ion-icon>
        </ion-item>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Data de Nascimento</ion-label>
          <ion-input type="text" class="ion-margin-horizontal" [(ngModel)]="dtNasc">
          </ion-input>
          <ion-icon name="calendar-outline" slot="end"></ion-icon>
        </ion-item>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Gênero</ion-label>
          <ion-select [(ngModel)]="genero" interface="popover">
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Feminino">Feminino</ion-select-option>
            <ion-select-option value="Outros">Outros</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Estado Civil</ion-label>
          <ion-select [(ngModel)]="estadoCivil" interface="popover">
            <ion-select-option value="Solteiro (a)">Solteiro (a)</ion-select-option>
            <ion-select-option value="Casado (a)">Casado (a)</ion-select-option>
            <ion-select-option value="União Estável">União Estável</ion-select-option>
            <ion-select-option value="Divorciado (a)">Divorciado (a)</ion-select-option>
            <ion-select-option value="Viúvo (a)">Viúvo (a)</ion-select-option>           
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin-horizontal">
        <ion-item class="roundedInput" line="none"> 
          <ion-label position="floating">Ocultas Idade?</ion-label>
          <ion-select [(ngModel)]="ocultarIdade" interface="popover">
            <ion-select-option value="Sim">Sim</ion-select-option>
            <ion-select-option value="Não">Não</ion-select-option>  
          </ion-select>
        </ion-item>
      </ion-col>
    
      <ion-col class="ion-margin-horizontal">
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating">Está Empregado?</ion-label>
          <ion-select [(ngModel)]="estaEmpregado" interface="popover">
            <ion-select-option value="Sim">Sim</ion-select-option>
            <ion-select-option value="Não">Não</ion-select-option>            
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="primary" shape="block" >
          PRÓXIMO
        </ion-button>
      </ion-col>
    </ion-row> 
  </div>
</ion-content>
