<ion-header mode="md">
  <ion-toolbar color="primary">
    <ion-buttons (click)="home()" slot="start" style="padding-left: 15px;">
      <ion-icon name="chevron-back" class="light icone"></ion-icon>
    </ion-buttons> 
    <!-- <ion-searchbar placeholder="Nome empresa"></ion-searchbar> -->
    <ion-title class="centertext bold"
      >Lista de usuários</ion-title
    >
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngFor="let usuario of itemAux">
    <ion-row>
      <ion-col>
        <div>
          <ion-card class="cardUsuarios">
            <ion-card-header>
              <ion-card-title>{{usuario.nome}}</ion-card-title>
              <div *ngFor="let contatos of usuario.contatos">
                <ion-card-subtitle *ngIf="contatos.validado"
                  >{{contatos.tipo}} - {{contatos.contato}}</ion-card-subtitle
                >
              </div>
            </ion-card-header>
            <ion-card-content>
              <ion-accordion-group>
                <ion-accordion value="usuario._id">
                  <ion-item slot="header" color="light">
                    <ion-label>Ficha de {{usuario.nome}}</ion-label>
                  </ion-item>
                  <div slot="content">
                    <ion-row>
                      <ion-col>
                        <ion-list>
                          <ion-item>
                            <ion-row>
                              <ion-label
                                ><span class="bold">E-Mail:</span>
                                {{usuario.email}}</ion-label
                              >
                            </ion-row>
                          </ion-item>
                          <ion-item>
                            <ion-row>
                              <ion-label
                                ><span class="bold">CPF:</span>
                                {{usuario.cpf}}</ion-label
                              >
                            </ion-row>
                          </ion-item>
                          <ion-item>
                            <ion-row>
                              <ion-label
                                ><span class="bold">Nascimento:</span>
                                {{usuario.dataNasc}}</ion-label
                              >
                            </ion-row>
                          </ion-item>
                          <ion-item>
                            <ion-row>
                              <ion-label
                                ><span class="bold">Gênero:</span>
                                {{usuario.genero}}</ion-label
                              >
                            </ion-row>
                          </ion-item>
                          <ion-item>
                            <ion-row>
                              <ion-label
                                ><span class="bold">Estado Civil:</span>
                                {{usuario.estadoCivil}}</ion-label
                              >
                            </ion-row>
                          </ion-item>
                          <ion-item>
                            <ion-row>
                              <ion-label
                                ><span class="bold">CEP:</span>
                                {{usuario.cep}}</ion-label
                              >
                            </ion-row>
                          </ion-item>
                          <ion-item>
                            <ion-row>
                              <ion-label
                                ><span class="bold">Endereço:</span>
                                {{usuario.endereco}}</ion-label
                              >
                            </ion-row>
                          </ion-item>
                          <ion-item>
                            <ion-row>
                              <ion-label
                                ><span class="bold">Número:</span>
                                {{usuario.numero}}</ion-label
                              >
                            </ion-row>
                          </ion-item>
                          <ion-item>
                            <ion-row>
                              <ion-label
                                ><span class="bold">Bairro:</span> 
                                {{usuario.bairro}}</ion-label
                              >
                            </ion-row>
                          </ion-item>
                          <ion-item>
                            <ion-row>
                              <ion-label
                                ><span class="bold">Cidade:</span>
                                {{usuario.cidade}} - {{usuario.estado}}</ion-label
                              >
                            </ion-row>
                          </ion-item>
                          <div *ngFor="let contatos of usuario.contatos">
                            <ion-item *ngIf="contatos.tipo === 'Celular' || contatos.tipo === 'Telefone'">
                              <ion-row>
                                <ion-label class="ion-text-wrap">
                                  <span class="bold">Contato:</span>
                                  {{contatos.tipo}} - {{contatos.contato}}
                                </ion-label>
                              </ion-row>
                            </ion-item>
                          </div>
                          <div *ngFor="let contatos of usuario.contatos">
                            <ion-item *ngIf="contatos.tipo === 'LinkedIn' || contatos.tipo === 'Instagram' || contatos.tipo === 'Facebook'">
                              <ion-row>
                                <ion-label class="ion-text-wrap">
                                  <span class="bold">Redes Sociais:</span>
                                  {{contatos.tipo}} - {{contatos.contato}}
                                </ion-label>
                              </ion-row>
                            </ion-item>
                          </div>
                        </ion-list>
                      </ion-col>
                    </ion-row>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
