<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">

  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating" class="ion-margin-top">Endereço</ion-label>
      <ion-item class="roundedInput" lines="none">
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.endereco"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating" class="ion-margin-top">Número</ion-label>
      <ion-item class="roundedInput" lines="none">
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.numero"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating" class="ion-margin-top">Complemento</ion-label>
      <ion-item class="roundedInput" lines="none">
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.complemento"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating" class="ion-margin-top">Bairro</ion-label>
      <ion-item class="roundedInput" lines="none">
        <ion-input type="text" class="black" expand="block"[(ngModel)]="endereco.bairro"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating" class="ion-margin-top">CEP</ion-label>
      <ion-item class="roundedInput" lines="none">
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.cep"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating" class="ion-margin-top">Cidade</ion-label>
      <ion-item class="roundedInput" lines="none">
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.cidade"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating" class="ion-margin-top">Estado(UF)</ion-label>
      <ion-item class="roundedInput" lines="none">
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.estado"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-button shape="block" (click)="confirmar()">Cadastrar</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
