<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centertext tituloPadding bold"><ion-icon name="home"></ion-icon> Endereço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput" lines="none">
        <ion-label position="floating">Endereço</ion-label>
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.endereco"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput" lines="none">
        <ion-label position="floating">Número</ion-label>
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.numero"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput" lines="none">
        <ion-label position="floating">Complemento</ion-label>
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.complemento"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput" lines="none">
        <ion-label position="floating">Bairro</ion-label>
        <ion-input type="text" class="black" expand="block"[(ngModel)]="endereco.bairro"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput" lines="none">
        <ion-label position="floating">CEP</ion-label>
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.cep"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput" lines="none">
        <ion-label position="floating">Cidade</ion-label>
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.cidade"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item class="roundedInput" lines="none">
        <ion-label position="floating">Estado(UF)</ion-label>
        <ion-input type="text" class="black" expand="block" [(ngModel)]="endereco.estado"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button shape="block" (click)="confirmar()">Cadastrar</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
