<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">

  <ion-row>
    <ion-col>
      <img class="logo" src="/assets/logo.png">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating" class="ion-margin-top">Digite seu cpf</ion-label>
    <ion-item class="roundedInput" lines="none"> 
        <ion-input [(ngModel)]="candidato.cpf" class="black" expand="block" type="text" >
        </ion-input>
        <ion-icon name="id-card-outline" class="black" slot="end"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating" class="ion-margin-top">Digite seu senha</ion-label>
      <ion-item class="roundedInput " lines="none">
      <ion-input [(ngModel)]="candidato.senha" class="black" type="text" >
      </ion-input>
      <ion-icon name="key-outline" class="black" slot="end"></ion-icon>
    </ion-item>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col class="espacamento">
      <ion-button (click)="confirmarLogin()" shape="block">Acessar</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento ">
      <ion-item lines="none">
        <h2 class="txtNewAccount black center">Não possui uma conta? Clique aqui e cadastre-se</h2>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento ">
      <ion-item lines="none">
        <h2 class="txtPassword black center">Esqueceu sua senha ?</h2>
      </ion-item>
    </ion-col>
  </ion-row>


</ion-content>