<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">

  <ion-row>
    <ion-col>
      <H4 class="centertext">Cursos de Idiomas</H4>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating" class="ion-margin-top">Idioma</ion-label>
      <ion-item class="roundedInput" lines="none">
        <ion-select [(ngModel)]="idioma.id_idioma" style="width: 100%;">
          <ion-select-option value="ingles">Inglês</ion-select-option>
          <ion-select-option value="espanhol">Espanhol</ion-select-option>
          <ion-select-option value="frances">Francês</ion-select-option>
          <ion-select-option value="italiano">Italiano</ion-select-option>
          <ion-select-option value="alemao">Alemão</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-label position="floating">Nível do idioma</ion-label>
      <ion-item class="roundedInput " lines="none">
        <ion-select [(ngModel)]="idioma.nivel" style="width: 100%;">
          <ion-select-option value="iniciante">Iniciante</ion-select-option>
          <ion-select-option value="basico">Básico</ion-select-option>
          <ion-select-option value="intermediario">Intermediário</ion-select-option>
          <ion-select-option value="avancado">Avançado</ion-select-option>
          <ion-select-option value="fluente">Fluente</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="espacamento">
      <ion-button shape="block" (click)="adicionarIdioma()">Adicionar idioma</ion-button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="espacamento">
      <ion-button shape="block" (click)="proximo()">Proxima Página</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>