<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="center">
      Cadastro de curriculo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col>
      <H4 class="center">Cursos de Idiomas</H4>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col type="number" class="ion-margin-horizontal">
      <ion-item>
        <ion-label position="floating">Idioma</ion-label>
        <ion-select [(ngModel)]="estado">
          <ion-select-option value="ingles">Inglês</ion-select-option>
          <ion-select-option value="espanhol">Espanhol</ion-select-option>
          <ion-select-option value="frances">Francês</ion-select-option>
          <ion-select-option value="italiano">Italiano</ion-select-option>
          <ion-select-option value="alemao">Alemão</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col type="number" class="ion-margin-horizontal">
      <ion-item>
        <ion-label position="floating">Nível do idioma</ion-label>
        <ion-select [(ngModel)]="nivel">
          <ion-select-option value="iniciante">Iniciante</ion-select-option>
          <ion-select-option value="basico">Básico</ion-select-option>
          <ion-select-option value="intermediario">Intermediário</ion-select-option>
          <ion-select-option value="avancado">Avançado</ion-select-option>
          <ion-select-option value="fluente">Fluente</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="primary" shape="block" (click)="adicionarIdioma()">Adicionar idioma</ion-button>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button color="primary" shape="block" (click)="proximo()">Proxima Página</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>