<ion-header [translucent]="true" mode="md">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centertext tituloProject bold">Vagas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true" mode="md">
  <div>
    <ion-row>
      <ion-col>
        <h2 class="centertext">
          {{ inscricaoVaga.quantidade }} vagas de emprego encontradas
        </h2>
      </ion-col>
    </ion-row>
  </div>

  <div *ngFor="let vaga of vagas" class="animate__animated animate__fadeInUp">
    <ion-card class="cardVaga">
      <ion-card-header style="padding-left: 0px;">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-icon
                  *ngIf="vaga.categoria === 'Administrativo'"
                  name="briefcase"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <ion-icon
                  *ngIf="vaga.categoria === 'Comércio'"
                  name="storefront"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <ion-icon
                  *ngIf="vaga.categoria === 'Contabilidade'"
                  name="calculator"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <ion-icon
                  *ngIf="vaga.categoria === 'Educação'"
                  name="school"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <ion-icon
                  *ngIf="vaga.categoria === 'Entretenimento'"
                  name="dice"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <img
                  *ngIf="vaga.categoria === 'Escritório'"
                  src="../../assets/icon/working-at-home.png"
                />

                <img
                  *ngIf="vaga.categoria === 'Farmácia'"
                  src="../../assets/icon/pill.png"
                />

                <ion-icon
                  *ngIf="vaga.categoria === 'Financeiro'"
                  name="cash"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <img
                  *ngIf="vaga.categoria === 'Jurídico'"
                  src="../../assets/icon/justice-scale.png"
                />

                <img
                  *ngIf="vaga.categoria === 'Limpeza'"
                  src="../../assets/icon/housekeeping.png"
                />

                <img
                  *ngIf="vaga.categoria === 'Linha de produção'"
                  src="../../assets/icon/production.png"
                />

                <ion-icon
                  *ngIf="vaga.categoria === 'Restaurantes'"
                  name="restaurant"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <ion-icon
                  *ngIf="vaga.categoria === 'Recursos Humanos'"
                  name="people"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <ion-icon
                  *ngIf="vaga.categoria === 'Saúde'"
                  name="medkit"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <ion-icon
                  *ngIf="vaga.categoria === 'Serviços gerais'"
                  name="construct"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <ion-icon
                  *ngIf="vaga.categoria === 'Supermercado'"
                  name="cart"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>

                <ion-icon
                  *ngIf="vaga.categoria === 'Tecnologia'"
                  name="desktop"
                  style="font-size: 64px"
                  color="dark"
                ></ion-icon>
              </ion-thumbnail>
              <ion-label style="margin-left: 10px;">
                <ion-card-title style="text-decoration: underline">
                  {{vaga.nome}}
                </ion-card-title>
                <br />
                <ion-card-subtitle
                  >{{ vaga.nomeEmpresa }} - {{vaga.cidade}}</ion-card-subtitle
                >
                <ion-card-subtitle
                  >Qtde. de vagas: {{vaga.quantidade}} vaga(s)</ion-card-subtitle
                >
                <ion-card-subtitle style="font-weight: 700">
                  Salário: {{vaga.salario}}</ion-card-subtitle
                >
                <ion-card-subtitle style="font-weight: 700">
                  Categoria: {{vaga.categoria}}</ion-card-subtitle
                >
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-row class="displays">
          <ion-button (click)="detalhes()">
            <ion-label style="margin-top: 3px">Detalhes</ion-label>
            <ion-icon
              style="font-size: 20px; margin-left: 7px"
              name="receipt"
              color="light"
            ></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
