<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="centertext tituloProject bold">Vagas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">
  <div>
    <ion-row>
      <ion-col>
        <h2 class="centertext">{{ inscricaoVaga.quantidade }} vagas de emprego encontradas</h2>
      </ion-col>
    </ion-row>
  </div>

  <div *ngFor="let vaga of vagas" class="animate__animated animate__fadeInUp">
    <ion-card class="cardVaga">
      <ion-card-header>
        <ion-row>
          <ion-col size="3">
            <ion-icon name="medkit" style="font-size: 55px;" color="dark"></ion-icon>
          </ion-col>
          <ion-col size="9">
            <ion-card-title style="text-decoration: underline;"> {{vaga.nome}} </ion-card-title>
            <br>
            <ion-card-subtitle>{{ vaga.nomeEmpresa }} - {{vaga.cidade}}</ion-card-subtitle>
            <ion-card-subtitle>Qtde. de vagas: {{vaga.quantidade}} vaga(s)</ion-card-subtitle>
            <ion-card-subtitle style="font-weight: 700;"> Salário: {{vaga.salario}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <ion-row class="displays">
          <ion-button (click)="detalhes()">
            <ion-label style="margin-top: 3px">Detalhes</ion-label>
            <ion-icon
            style="font-size: 20px; margin-left: 7px"
            name="receipt"
            color="light"
            ></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>