ion-card{
    border-radius: 30px;
    margin-top: 3rem;
    ion-card-header{
        margin-top: 2rem;
        
        ion-card-title{
            font-size: 2.1rem;
            text-decoration: underline;
        }   
    }

    
}

.medalha{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 1.8rem;
    margin-left: 70%;
}
