
<ion-content class="fundobg">

  <div class="header">
    <ion-row>
  
      <ion-col style="display: flex;">
        <ion-icon style="font-size: 80px;" name="person-circle-outline"></ion-icon>
        <h2 class="margin-h2-user white" style="font-size: 20px;">Olá @User</h2>
      </ion-col>
      
  
      <ion-col >
        
        <ion-row>
          <ion-col class="ion-no-padding" >
          <ion-item color="#368E59" lines="none">
            <ion-icon style="font-size: 35px;" name="menu-outline" class="removeMarginIcon" slot="end"></ion-icon>
            <ion-icon style="font-size: 30px;" name="notifications-outline" class="white removeMarginIcon" slot="end"></ion-icon>
          </ion-item>
        </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col class="ion-no-padding">
          
            <h2 class="ion-no-margin" style="text-align: right; padding-right:10px">Sair</h2>
         
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  
  </div><!--header-->

  <div class="corpo"> 

    <ion-row>
      <ion-col>
          <ion-item class="roundedInputSearch" lines="none" style="margin-top: 15px; box-shadow: none;"> 
            <ion-input class="black" expand="block" type="text" >
            </ion-input>
            <ion-icon name="search-outline" class="black" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>


    <div style="overflow-x: scroll; white-space: nowrap;">
      

        <div class="box-vagas" *ngFor="let vaga of vagaDestaque">
            <h2 class="ion-no-margin" style="font-size: 13px; text-align: center; padding-top: 25px;" >{{vaga.titulo}}</h2>
            <h2 style="font-size: 13px; text-align: center;">Cadastre seu currículo</h2>
            <p style="font-size: 13px; text-align: center;">{{vaga.cidade}}-{{vaga.estado}}</p>

        </div>

      </div> 


    <ion-row>
      <ion-col>
        
        <div *ngFor="let vaga of vagaDisponivel">

          <ion-row class="box-vagas-big" >

            <ion-col>
              <ion-row>
                <h2>{{vaga.titulo}}</h2>
                <h2 style="position: absolute; right: 0px;">{{vaga.data_publicacao}}</h2> 
              </ion-row>           
                <h2>{{vaga.quantidade}}</h2>
                <h2>{{vaga.salario}}</h2>
                <h2>Clique aqui e cadastre seu currículo</h2>
              </ion-col>  

          </ion-row>

      

          

         </div>

      </ion-col>
    </ion-row>

  </div><!--corpo-->


</ion-content>
