<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">
  <div class="ion-text-center">
    <h3>
      Voltar para pagina inicial
    </h3>
  </div>
  <div>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Filtro</ion-label>
          <ion-select type="Vagas abertas" class="ion-margin-horizontal" [(ngModel)]="filtro" >
            <ion-select type="Currículo em análise" class="ion-margin-horizontal" [(ngModel)]="filtro" ></ion-select>
            <ion-select type="Currículo enviado" class="ion-margin-horizontal" [(ngModel)]="filtro" ></ion-select>
            <ion-select type="Processo seletivo" class="ion-margin-horizontal" [(ngModel)]="filtro" ></ion-select>
            <ion-select-option value="valor">text</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-text-center">
    <h3>
      Notificações gerais
    </h3>
  </div>

  <!-- Multi-line sliding item with icon options on both sides -->
  <ion-item-sliding id="item100">
    <ion-item href="#">
      <ion-label>
        <h2>Auxiliar Adiministrativo</h2>
        <p>Toledo Piza Adivogados</p>
        <p>Data de inscrição 07/02/2021</p>
        <p>Status: Currículo em análise</p>
      </ion-label>
      <ion-note slot="end">
        10:45 AM
      </ion-note>
    </ion-item>
  </ion-item-sliding>

    <!-- Multi-line sliding item with icon options on both sides -->
    <ion-item-sliding id="item100">
      <ion-item href="#">
        <ion-label>
          <h2>Analista de sistemas</h2>
          <p>Coca-Cola Fensa</p>
          <p>Data de inscrição 28/07/2022</p>
          <p>Status: Vagas abertas</p>
        </ion-label>
        <ion-note slot="end">
          19:26 PM
        </ion-note>
      </ion-item>
    </ion-item-sliding>

      <!-- Multi-line sliding item with icon options on both sides -->
      <ion-item-sliding id="item100">
        <ion-item href="#">
          <ion-label>
            <h2>Animador de Festa</h2>
            <p>JM-Festas</p>
            <p>Data de inscrição 14/08/2021</p>
            <p>Status: Currículo enviado</p>
          </ion-label>
          <ion-note slot="end">
            8:00 AM
          </ion-note>
        </ion-item>
      </ion-item-sliding>

        <!-- Multi-line sliding item with icon options on both sides -->
        <ion-item-sliding id="item100">
          <ion-item href="#">
            <ion-label>
              <h2>Tecnico de enfermagem</h2>
              <p>UNIMED</p>
              <p>Data de inscrição 02/10/2019</p>
              <p>Status: Processo seletivo</p>
            </ion-label>
            <ion-note slot="end">
              13:18 PM
            </ion-note>
          </ion-item>
        </ion-item-sliding>

          <!-- Multi-line sliding item with icon options on both sides -->
          <ion-item-sliding id="item100">
            <ion-item href="#">
              <ion-label>
                <h2>Segurança noturno</h2>
                <p>Imperial</p>
                <p>Data de inscrição 23/11/2024</p>
                <p>Status: Currículo enviado</p>
              </ion-label>
              <ion-note slot="end">
                13:18 PM
              </ion-note>
            </ion-item>
            </ion-item-sliding>




</ion-content>