<ion-header [translucent]="true" mode="md">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" class="centertext tituloProject bold"
      >Notificações</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="fundobg" [fullscreen]="true">
  
  <div *ngFor="let item of notificacoes">
    <ion-item-sliding>
      <ion-item (click)="timeline()">
        <ion-label>
          <h2>{{item.vaga}}</h2>
          <p>{{item.empresa}}</p>
          <p>Data de inscrição: {{item.dtInsc}}</p>
          <p *ngIf="item.aprovado" color="success">Status: {{item.status}}</p>
          <p *ngIf="!item.aprovado" color="warning">Status: {{item.status}}</p>
        </ion-label>
        <ion-note slot="end">{{item.hora}}</ion-note>
      </ion-item>
    </ion-item-sliding>
  </div>

</ion-content>
